
body {
	padding:50px 10%;
    font-family: 'Open Sans', sans-serif;
    min-width: 900px;
    background:  rgb(88,108,128);
    color: white;
}

#header{
	padding: 10px 50px;
    font-size: 36px;
    border-bottom: 1px solid rgba(200,200,200,1);
    font-family: 'Abel', sans-serif;

}

#data{
	padding: 2.5% 5%;
    border-bottom: 1px solid rgba(200,200,200,1)

}
	
	#data_info{
		height: 100%;
		width:65%;
		display: inline-block;
	}

		.input{
			display: block;
			margin-top: 5px;
			margin-left:10%;
		}

		input[type=text], button, select{
			color: black;
		}

		#data_info>*{
			margin: 20px 0;
		}

		#data_naming{
			display: none;
		}



	#data_warning{
		width:25%;
		display: inline-block;
		float:right;
	}
		#data_warning_title{
			width:100%;
			text-align: center;
		}

		#data_warning_content{

		}


#raster{
	padding: 2.5% 5%;
    border-bottom: 1px solid rgba(200,200,200,1)

}

	#raster_options>select{
		/*display: inline-block;*/
		width:80%;
		margin-left: 10%;
		padding-left: 10px;
		/*background: rgb(223,223,223);*/
	}

		optgroup{
			margin-top: 5px;
		}

	#raster_meta{
		display: none;
	}

	table{
		width:90%;
		margin: 50px 5%;
	}

		table, tr, td, th {
			padding:5px;
			border: 1px solid rgba(100,100,100,1);
			border-collapse: collapse;
		}

#request{
	padding: 2.5% 5%;
	text-align: center;
}

#confirmation{
	display: none;
	padding: 20px;
}